body{
    border: 10px solid blue;
    border-radius : 6px;
    margin:0px;
}
#header{
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(rgb(132, 151, 227), rgb(67, 99, 224), rgb(21, 61, 214));
    padding-bottom: 40px;
}

#logo{
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 45%;
}

#title{
    color: white;
}

#login-form{
    margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    width:70%;
    height:60vh;
    text-align: left;
    border: 2px solid blue;
    padding-top: 80px;
    font-family: arial;
    font-weight: bold;
}

.text{
    margin-left: 30%;
    margin-bottom: 10px;
}

input{
    margin-bottom: 30px;
    margin-right: 10px;
}

form > input{
    text-align: left;
}
.buttons{
    color: blue;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    border: 4px solid blue;
    background-color: rgb(132, 151, 227);
    color:white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}


input[type="radio"]{
    margin-left:30%;
    margin-right:0px;
}

#teacher{
    margin-top: 20px;
}

#reset{
    margin-left: 30%;
}
#submit{
    margin-left: 10%;
}


#footer{
    width: 100%;
    height: 10vh;
    text-align: center;
    color: grey;
}

hr{
    width: 90%;
}
@media screen and (max-width: 990px) {
   
    #title{
        font-size:22px;
    }
    #quote{
        width: 100%;
        height: 10vh;
        font-size: 20px;
    }
  }

@media screen and (min-width: 1500px) {
   
    .text{
        margin-left: 40%;
    }
    #reset{
        margin-left: 40%;
    }
    input[type="radio"]{
        margin-left:40%;
    }
    
}
 