.cntCreateExam{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(100, 169, 235);
    background-image: linear-gradient(rgb(163, 161, 161),rgb(132, 174, 194), rgb(8, 111, 158)) !important;
}

.lButton{
    width: 300px;
}

.box{
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: bold;
}

.sidebar{
    position: fixed; /* Fix the sidebar's position */
    top: 0; /* Adjust as needed to control the vertical position */
    left: 0; /* Fix the sidebar to the left side of the screen */
    width: 17%; /* Adjust the width as needed */
    height: 100%; /* Fill the entire height of the viewport */
    background-color: #fff; /* Sidebar background color */
    overflow-y: auto; /* Enable scrolling if content exceeds the height */
    border-right: 1px solid #ccc;
}

.teacherTableForApproval{
    overflow-y: auto;
    height: 300px;
}

.teacherTableForApproval thead th {
    position: sticky; 
    background-color: rgb(43, 139, 184) !important;
    top: 0px;
}

#searchTabCreateExam{
    border: 2px solid rgb(8, 139, 190);
    padding-top:30px;
    padding-bottom:30px;
}


.searchTabCreateELabel{
    flex: 1;
    font-size: 20px;
    margin-right: 10px;
}

.inputForCreatingExam{
    width: 100%;
    flex: 2;
    font-size: 20px;
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
}

.cctt{
    float: right;
    padding-left: 10px;
}