body{
    border: 5px solid blue;
}
.navbar{
    height: 150px !important;
    background-image: linear-gradient(rgb(132, 151, 227), rgb(67, 99, 224), rgb(21, 61, 214));
}


#dropdown-menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;
    border: 1px solid blue;
    border-radius: 10px;
    position: absolute;
    right: 1%;
    top: 100px;
    color:blue;
}
  
#dropdown-menu li {
    padding: 8px 12px;
    cursor: pointer;
    border: 1px solid rgb(67, 99, 224);
}
  
#dropdown-menu li:hover {
    background-color: #ddd;
    border-radius: 10px;
}


#logo{
    width: 100px;
    height: 100px;
    display: inline-block;
}

#title{
    color: rgb(212, 213, 230);
}

.header-button{
    color: blue;
    width: 100px;
    height: 50px;
    border: 4px solid blue;
    background-color: rgb(132, 151, 227);
    color:white !important;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}

#btn1{
    margin-right: 40px;
}
#navbarDropdown{
    margin-right: 70px;
}

.header-button:hover{
    background-color: rgb(89, 89, 187);
}

#image{
    background: url('bloomsTaxonomy.jpg') no-repeat center center;
    height:65vh;
}
#quote{
    padding-top:30px;
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 22px;
    color: blue;
}

#footer{
    height: 10vh;
    text-align: center !important;
    color: grey;
}

#line{
    background-color: grey;
    height: 3px;
}

@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        right: 0;
        top: 100%;
        width:200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1000;
    }
    .header-button{
        width: 200px;
        height: 50px;
    }
}
